<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>about</title>
  </head>
  <body>
    <h1>About Vitalik Buterin</h1>
    <h2>Who is Vitalik Buterin?</h2>
    <img src="/images/vitalik.jpg" alt="vitalik">
    <article>
 Vitaly Dmitriyevich "Vitalik" Buterin (born 31 January 1994) is a Canadian programmer and writer who is best known as one of the co-founders of Ethereum. Buterin became involved with cryptocurrency early in its inception, co-founding Bitcoin Magazine in 2011.In 2014, Buterin launched Ethereum with Gavin Wood, Charles Hoskinson, Anthony Di Iorio and Joseph Lubin. Buterin was born in Kolomna, Russia. His father was a computer scientist. He lived in the area until the age of six when his parents emigrated to Canada in search of better employment opportunities. While in grade three of elementary school in Canada, Buterin was placed into a class for gifted children and was drawn to mathematics, programming, and economics.Buterin then attended The Abelard School, a private high school in Toronto. Buterin learned about Bitcoin, from his father, at the age of 17.

    </article>
    <h3>Student life</h3>
    <article>
      <p>  While looking for a new direction in life, Vitalik came across Bitcoin in 2011. He was initially suspicious, and he couldn't see how it could have any value if it didn't have any physical backing. But as time went on, he learned more and became fascinated. </p>
    
    <p>
        He wanted to formally join this new and experimental economy by getting his hands on some tokens, but he had neither the computing power to mine them nor the cash to purchase Bitcoin. So, he looked for work in Bitcoin on various forums and eventually began writing articles for a blog, earning him around five Bitcoin per article.
    </p>
    <p>
        At the same time, he looked into all the different economic, technological and political aspects of cryptocurrency. His articles attracted Mihai Alisie, a Romanian-based Bitcoin enthusiast, leading to the co-founding Bitcoin Magazine in late 2011. He was writing, traveling and working on crypto for over 30 hours a day and hence, he decided to quit university.
    
    </p>
    <p>
        He traveled across the world looking at various crypto projects and eventually determined that they were too focused on specific uses and not broad enough.
    </p>
    <p>
        After looking at the protocols those projects were using, Vitalik realized that it's possible to massively generalize what the protocols were doing by replacing all their functionality with a Turing-complete programming language. In computer science, a Turing-complete programming language enables a computer to solve any particular problem, given the appropriate algorithm and necessary amounts of time and memory. After being refused by the existing projects, he decided to do it himself — thus the birth of Ethereum.
    </p>
    </article>
  </body>
</html>