<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>works</title>
  </head>
  <body>
    <h1>WORKS</h1>
    <h2>Works of Vitalik Buterin</h2>
    <article>
     Buterin is a co-founder and inventor of Ethereum, described as a "decentralised mining network and software development platform rolled into one"[24] that facilitates the creation of new cryptocurrencies and programs that share a single blockchain (a cryptographic transaction ledger).

Buterin first described Ethereum in a white paper in November 2013. Buterin had argued that bitcoin needed a scripting language for application development. But when he failed to gain agreement, he proposed development of a new platform with a more general scripting language.
The Ethereum white paper was circulated and interest grew in the new protocol in late 2013 and early 2014. Buterin announced Ethereum more publicly at the North American Bitcoin Conference in Miami on 26 January. Buterin delivered a 25-minute speech, describing the general-purpose global computer operating on a decentralized permissionless network, ending with potential uses for Ethereum that ranged from crop insurance to decentralized exchanges to DAOs.

About the Ethereum Project, Buterin said in 2020: "I am truly grateful to have the opportunity to work in such an interesting and interdisciplinary area of industry, where I have the chance to interact with cryptographers, mathematicians and economists prominent in their fields, to help build software and tools that already affect tens of thousands of people around the world, and to work on advanced problems in computer science, economics and philosophy every week."[33] However, in a 2018 New Yorker article, his father suggests that Buterin is trying to avoid the focus on him as the philosopher king of the blockchain world, stating "He is trying to focus his time on research. He's not too excited that the community assigns so much importance to him. He wants the community to be more resilient."

Buterin has stated that he was driven to create decentralized money because his World of Warcraft character was nerfed, specifically by patch 3.1.0. He went on to say in his about.me bio, "I happily played World of Warcraft during 2007-2010, but one day Blizzard removed the damage component from my beloved warlock’s Siphon Life spell. I cried myself to sleep, and on that day I realized what horrors centralized services can bring. I soon decided to quit."
    </article>
    <h3>Education</h3>
    <article>
        He went on to attend the Abelard School, a private high school in Toronto. After graduation, Buterin enrolled into the University of Waterloo which he eventually dropped out after a year of computer science and landed the Thiel Fellowship. He used his time to co-found and work on several startups in cryptocurrency and digital finance. He’s also well-known for having an IQ level of 257. 
        On 30 November 2018, Buterin received an honorary doctorate from the Faculty of Business and Economics of the University of Basel on the occasion of the Dies Academicus.

    </article>
    <h4>Net Worth</h4>
    <Article>
        The estimated net worth of Vitalik Buterin is 355,000 ETH which equates to approx $ 500 million on the time of writing.
        <p>
            Vitalik had a wild ride during 2021 as far as his net worth. At the start of 2021, ETH was trading at $730.99, giving Vitalik a fortune of $259-million. However, ETH would reach an all-time high of $4,818.08 on 8 November 2021, giving his ether wallet a value of $1.71 billion. Making him the youngest ever crypto billionaire</p>
           <p> Vitalik isn’t done there. He also holds significant quantities of other top meme tokens like 505 billion SHIB, 50 billion AKITA, 50 billion Dogecoin, totaling his crypto holdings at a staggering estimated over 30$ billion in value. However unlike his ether wallet which is easy traceable we accutaly dont know if he sold his meme coins or are still holding them. If we imagine that he is still holding what i call shitcoin's no offence to anyone
            he is no longer a $ billionaire. And if we gonna believe his twitter post on 20th may 2022 he posted "that he is no longer a billionaire"
        </p>
    </Article>
  </body>
</html>